<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'receiptsList'}}">Receipter</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                    {{#if mobile}}
                    <li>
                        <button class="buttons btn btn-success camera">

                        <i class="fa fa-camera"></i>
                            </button>
                    </li>

                    <li>
                        <button class="buttons btn btn-success upload">
                            <i class="fa fa-upload"></i>
                        </button>
                    </li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
        </div>
    </nav>
</template>